:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-light-color: #FFFFFF;
    --background-hero-and-footer-color: #2F303A;
    --background-ourteam-and-filtrbtn-color: #F5F4FA;
    --primary-margin: 30px;
    --primary-padding: 94px;
}

/* *,
*::before,
*::after {
    box-sizing: boder-box;
} */

body {
    /* background-color: #E5E5E5; */
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

* {
    box-sizing: border-box;
}

.list {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.container {
    outline: 2px solid orangered;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section {
    padding-top: var(--primary-padding);
    padding-bottom: var(--primary-padding);
}

/*-----------------------SITE-NAV----------------- */

.current-page::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: var(--accent-color);
}

.current-page {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    /* padding-top: 24px;
    padding-bottom: 25px; */
    border-bottom: 1px solid #ECECEC;
    background-color: var(--primary-light-color);
}

.site-nav,
.header-list {
    display: flex;
    align-items: center;
}

.site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.auth.list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.auth-list-item:not(:last-child) {
    margin-right: 50px;
}

.header .logo {
    margin-right: 93px;
}

.logo {
    display: block;
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-blackpart {
    color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
    text-decoration: none;
}

.site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}


.auth-list-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth .mailto,
.auth .tel {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-list-icon {
    fill: currentColor;
}

.auth .mailto:hover .auth-list-icon,
.auth .mailto:focus .auth-list-icon,
.auth .mailto:hover,
.auth .tel:hover,
.auth .mailto:focus,
.auth .tel:focus {
    color: var(--accent-color);
}

/*-----------------------HERO----------------- */

.hero {
    background-color: var(--background-hero-and-footer-color);
    padding-top: 200px;
    padding-bottom: 210px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../img/Img-hero-bcg.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero-title {
    color: var(--primary-light-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--primary-margin);
}

.button {
    color: var(--primary-light-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    padding: 10px 32px;
    border: 2px solid var(--accent-color);
    cursor: pointer;
}

/*-----------------------FEATURES----------------- */

.features .features-2 {
    display: flex;
    align-items: center;
}

.section.features {
    padding-bottom: 0;
}

.feature-item::before {
    content: '';
    width: 270px;
    height: 120px;
    display: inline-block;
    background-color: var(--background-ourteam-and-filtrbtn-color);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: var(--primary-margin);
}

.feature-item.icon-antenna::before {
    background-image: url(../img/antenna.svg);
}

.feature-item.icon-clock::before {
    background-image: url(../img/clock.svg);
}

.feature-item.icon-diagram::before {
    background-image: url(../img/diagram.svg);
}

.feature-item.icon-astronaut::before {
    background-image: url(../img/astronaut.svg);
}

.features-list {
    display: flex;
    align-content: center;
}

.feature-item:not(:last-child) {
    margin-right: var(--primary-margin);
}

.features-img {
    display: flex;
    justify-content: center;
}

.feature-img:not(:last-child) {
    margin-right: var(--primary-margin);
}

.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.feature-text {
    font-size: 14px;
    line-height: 1.71;
}

.features-title {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    }

.features2-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-light-color);
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.features2-wrap {
    position: relative;
    width: 370px;
}

.card-imagine {
    display: block;
}
/*-----------------------OURTEAM----------------- */

.ourteam-items {
    display: flex;
    justify-content: center;
}

.ourteam-item {
    background-color: var(--primary-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: var(--primary-margin);
}

.ourteam-item:not(:last-child) {
    margin-right: var(--primary-margin);

}

.ourteam-title,
.ourteam-specialist {
   text-align: center;
}

.section.ourteam {
    background-color: var(--background-ourteam-and-filtrbtn-color)
}

.ourteam-text {
    padding-top: var(--primary-margin);
    padding-bottom: 16px;
}
.ourteam-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.ourteam-specialist {
    font-size: 16px;
    line-height: 1.19;
}

.ourteam-soc-list {
    display: flex;
    justify-content: center;
}

.ourteam-soc-item {
    width: 44px;
    height: 44px;
}

.ourteam-soc-item:not(:last-child) {
    margin-right: 10px;
}

.ourteam-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-light-color);
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-soc-icon {
    fill: currentColor;
}

 .ourteam-soc-link:hover,
 .ourteam-soc-link:focus {
     background-color: var(--accent-color);
     color: var(--primary-light-color);
}

/*-----------------------CLIENTS----------------*/
.clients-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients {
    padding-top: var(--primary-padding);
    padding-bottom: var(--primary-padding);
}

.client-logo {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:not(:last-child) {
    margin-right: var(--primary-margin);
}

.client-logo-link {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover,
.client-logo-link:focus,
.client-logo:hover .client-logo-icon,
.client-logo-link:focus .client-logo-icon {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    color: var(--accent-color);
}

/*-----------------------FOOTER----------------- */
.footer>.container {
    padding-right: 0px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    margin-bottom: 20px;
}

.footer-connect .mailto,
.footer-connect .tel {
    display: block;
}

.footer {
    background-color: var(--background-hero-and-footer-color);
}

.address,
.footer-connect .mailto {
    margin-bottom: 9px;
}
.logo-whitepart {
    color: var(--primary-light-color);
}

.address,
.footer-connect {
    color: var(--primary-light-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.mailto,
.tel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus,
.mailto:hover,
.mailto:focus,
.tel:hover,
.tel:focus {
    color: var(--accent-color);
}

.footer .container {
    display: flex;
}

.address-section {
    margin-right: 70px;
    
}

.followus-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-light-color);
    margin-bottom: 20px;
    margin-top: 12px;
}

.followus-soc-item {
    width:44px;
    height:44px;
}

.followus-soc-item:not(:last-child) {
    margin-right: 10px;
}

.followus-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.followus-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.followus-icon {
    fill: var(--primary-light-color);
}

.followus-soc-link:hover,
.followus-soc-link:focus {
    background-color: var(--accent-color);
}

.submit {
    margin-left: 93px;
}

.submit-email {
    display: flex;
}

.submit-input {
    padding-left: 16px;
}

.submit-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.submit-input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.button-submit {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    color: var(--primary-light-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    padding: 10px 28px 10px 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.submit-icon {
    height: 24px;
    width: 24px;
    margin-left: 10px;
}

.iconsend {
    display: flex;
    align-items: center;
}

.submit-icon {
   fill: var(--primary-light-color);
}
/* -------------------------------MODAL----------------------- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(0, 0) scale(0) opacity(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(1) opacity(1);
    width: 528px;
    min-height: 581px;
    background-color: var(--primary-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.button-modal {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;
     
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover ,
.button-modal:focus {
    fill: var(--accent-color);
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color)
}

.modal-label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.modal-label:not(:first-child) {
    margin-top: 10px;
}

.modal-label:first-child {
    margin-top: 12px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 30px;
    background-color: transparent;
    transition: boder-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
    fill: var(--accent-color);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:hover {
    border-color: var(--accent-color);
}

.check-text {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    /* display: flex; */
    align-content: center;
}

.check-text a {
    color: var(--accent-color);
}

.check-text span {
    content: '';
    width: 16px;
    height: 15px;
    border: 1px solid rgba(34, 34, 34, 0.2);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    fill: transparent;
}

.input-check:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
}

.input-check:checked + .check-text .check-icon {
   fill: var(--primary-light-color);
}

.button.form {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
}

.submit-icon {
    fill: var(--primary-light-color);
}
/*-----------------------PORTFOLIO----------------- */

.filtr-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filtrbutton-list:not(:last-child) {
    margin-right: 9px;
}

.ourprojects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ourprojects-card:not(:nth-child(3n+3)) {
    margin-right: var(--primary-margin);
}

.ourprojects-card:not(:nth-last-child(-n+3)) {
    margin-bottom: var(--primary-margin);
}

.ourprojects-img {
    display: block;
}

.card {
    padding: 20px 24px;
    background-color: var(--primary-light-color);
}


.filtr-button {
    color: var(--title-text-color); 
    background-color: var(--background-ourteam-and-filtrbtn-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-title {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.filtr-button:hover,
.filtr-button:focus {
    color: var(--primary-light-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* -----------------------OURPROJECT--------------------- */
.ourprojects-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.ourprojects-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}
.ourprojects-card {
    max-width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourprojects-card>.card {
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.ourprojects-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.ourprojects-over-wrap {
    position: relative;
    overflow: hidden;
}

.ourprojects-over-text {
    position: absolute;
    top: 0;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 63px 24px;
    font-style: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--primary-light-color);
    background-color: rgba(33, 150, 243, 0.9);
}

.ourprojects-card:hover .ourprojects-over-text {
    transform: translateY(0);
}