.filtr-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filtrbutton-list:not(:last-child) {
    margin-right: 9px;
}

.ourprojects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ourprojects-card:not(:nth-child(3n+3)) {
    margin-right: var(--primary-margin);
}

.ourprojects-card:not(:nth-last-child(-n+3)) {
    margin-bottom: var(--primary-margin);
}

.ourprojects-img {
    display: block;
}

.card {
    padding: 20px 24px;
    background-color: var(--primary-light-color);
}

.filtr-button {
    color: var(--title-text-color);
    background-color: var(--background-ourteam-and-filtrbtn-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-light-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.filtr-title {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

